# Ignore Python cache files as it forms merge conflicts
pys/__pycache__/
# Stuff in my folder
gitignore
# Created Packs
BTRP-??????
# Logs from main.py
logs
# Save file of main.py  incase of merge conflicts of README.md
pys/main_saved.py
# Remove .fleet folder
.fleet