<!DOCTYPE html>
<html lang="en">
 <head>
  <meta content="Bedrock Edition Community Tweaks Resource Packs" name="author"/>
  <meta content="Resource Pack tweak selector. Unofficially updated by BEComTweaks on GitHub" name="description"/>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <title>
   Resource Packs
  </title>
  <link href="theme.css" rel="stylesheet"/>
  <link href="images/icon.png" rel="icon" type="image/x-icon"/>
 </head>
 <body>
  <div id="background-container">
  </div>
  <script src="bg.js">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.7.1/jszip.min.js">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lz-string/1.4.4/lz-string.min.js">
  </script>
  <div class="half-dark">
   <br>
   <br>
   <div class="image-container">
    <img alt="Resource Packs" id="title" src="images/title.png"/>
   </div>
   <ul class="large-nav">
    <li>
     <a class="nav-link" href="https://becomtweaks.github.io">
      Home
     </a>
    </li>
    <li>
     <a class="nav-link" href="https://becomtweaks.github.io/docs">
      Docs
     </a>
    </li>
    <li style="float:right">
     <a class="nav-link" href="https://becomtweaks.github.io/crafting-tweaks">
      Crafting Tweaks
     </a>
    </li>
    <li style="float:right">
     <a class="nav-link" href="https://becomtweaks.github.io/behaviour-packs">
      Behaviour Packs
     </a>
    </li>
    <li style="float:right">
     <a class="nav-link" href="https://becomtweaks.github.io/resource-packs">
      Resource Packs
     </a>
    </li>
   </ul>
   <ul class="small-nav">
    <li>
     <a class="nav-link" href="https://becomtweaks.github.io">
      Home
     </a>
    </li>
    <li style="float:right">
     <a class="nav-link" href="https://becomtweaks.github.io/crafting-tweaks">
      CTs
     </a>
    </li>
    <li style="float:right">
     <a class="nav-link" href="https://becomtweaks.github.io/behaviour-packs">
      BPs
     </a>
    </li>
    <li style="float:right">
     <a class="nav-link" href="https://becomtweaks.github.io/resource-packs">
      RPs
     </a>
    </li>
   </ul>
   <div class="preselected">Pre-selected Tweaks!<div class="preselected-unselect" onclick="processJsonData(getSelectedTweaks(),'unselect'); this.parentElement.style.top = '-10vh'; this.parentElement.style.transform = 'translateX(-50%)'; this.parentElement.innerText = 'Unselected!';">Unselect?</div></div>
   <div class="container">
    <!--Packs-->
   </div>
   <div class="download-container">
    <div class="file-download">
     <input id="fileNameInput" placeholder="Enter Pack name" type="text"></input>
     <br>
     <select id="mev" name="mev">
      <option value="1.21.0">
       1.21
      </option>
      <option value="1.20.0">
       1.20
      </option>
      <option value="1.19.0">
       1.19
      </option>
      <option value="1.18.0">
       1.18
      </option>
      <option value="1.17.0">
       1.17
      </option>
      <option value="1.16.0">
       1.16
      </option>
     </select>
    </div>
    <div class="zipinputcontainer">
     <input id="zipInput" type="file"></input>
    </div>
    <button class="download-selected-button" onclick="downloadSelectedTweaks()" disabled=true>
     Download Selected Tweaks
    </button>
    <div id="selected-tweaks">
     <div class="tweak-list-pack">
      Select some packs and see them appear here!
     </div>
    </div>
   </div>
   <script src="app.js">
   </script>
  </div>
 </body>
 <footer class="footer-container">
  <div class="half-dark">
   <div class="credits-footer">
    <!--credits-->
    <p>
     <a href="https://github.com/BEComTweaks/resource-packs">
      GitHub
     </a>
    </p>
   </div>
  </div>
 </footer>
</html>
