beautifulsoup4==4.13.3
certifi==2025.1.31
charset-normalizer==3.4.1
future==1.0.0
idna==3.10
lzstring==1.0.4
markdown==3.7
requests==2.32.3
rich==13.9.4
soupsieve==2.6
typing-extensions==4.13.0
ujson==5.10.0
urllib3==2.3.0
