@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: white;
  background-color: transparent;
  text-decoration: underline;
  font-weight: bold;
}

body {
  /* Because I can*/
  font-family: "Pixelify Sans";
  margin: 0;
  padding: 0;
  color: white;
}

header {
  color: grey;
  padding: 10px 0;
  text-align: center;
}

.category {
  margin-top: 20px;
  margin-bottom: 20px;
}

.category-controlled {
  display: none;
  padding-left: 10px;
  padding-right: 10px;
  border-style: solid;
  border-width: 5px;
  border-radius: 0px 0px 5px 5px;
  border-color: rgb(106, 108, 112);
  background-color: var(--dark-one);
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-in-out;
}

.category-label {
  text-align: center;
  font-size: 20px;
  background-color: var(--dark-one);
  padding: 5px;
  user-select: none;
  border-radius: 5px;
  border-style: solid;
  border-width: 5px;
  border-color: var(--dark-border);
  cursor: pointer;
  margin-bottom: -5px;
  transition:
    background-color 0.25s ease,
    border-color 0.5s ease;
  z-index: 13;
}

.category-label:hover {
  background-color: var(--dark-two);
  border-color: var(--dark-border-hover);
}

.category-label.open {
  border-radius: 5px 5px 0px 0px;
  border-color: rgb(106, 108, 112);
}

.category-label.open:hover {
  border-radius: 5px 5px 0px 0px;
}

.comp-hover-text {
  display: none;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  background: rgb(144, 146, 74);
  padding: 0px;
  border-radius: 3px;
  font-size: 13px;
  z-index: 1;
}

.tweak:hover .comp-hover-text {
  display: block;
}

.conf-hover-text {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  background: rgb(144, 73, 74);
  padding: 7.5px;
  border-radius: 3px;
  font-size: 13px;
  z-index: 1;
  white-space: no-wrap;
}

.tweak:hover .conf-hover-text {
  display: block;
}

.container {
  padding: 20px;
  position: relative;
  z-index: 1;
  background: #0000007f;
  border-radius: 10px;
}

.credits-footer {
  color: white;
  border: solid;
  border-width: 7.5px;
  border-radius: 12.5px;
  border-color: var(--dark-border);
  padding: 20px;
  background: var(--dark-one);
  z-index: 5;
}

.download-container {
  position: fixed;
  left: 10px;
  bottom: 10px;
  width: 300px;
  z-index: 10;
  background: var(--dark-one);
  border: solid;
  border-width: 5px;
  border-radius: 10px;
  border-color: var(--dark-border);
  opacity: 0.95;
  width: 240px;
  height: 150px;
}

.download-selected-button {
  font-family: "Pixelify Sans";
  background: var(--dark-one);
  padding: 10px 20px;
  border-style: solid;
  border-width: 5px;
  border-color: var(--dark-border);
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.1s;
  display: block;
  margin: 20px auto;
  text-align: center;
  color: white;
}

.download-selected-button:hover {
  background: var(--dark-two);
  border-color: var(--dark-border-hover);
}

.download-selected-button:active {
  background: var(--green-one);
  border-color: var(--green-border);
}

.file-download {
  font-family: "Pixelify Sans";
  margin: 20px 0;
  text-align: center;
}

.file-download input[type="text"],
.file-download button {
  font-family: "Pixelify Sans";
  margin: 5px;
  padding: 10px;
  font-size: 16px;
}

.footer {
  text-align: center;
  background: var(--dark-one);
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 20px;
}

.footer-container {
  position: relative;
  z-index: 1;
}

.image-container {
  text-align: center;
  size: cover;
  position: relative;
  z-index: 1;
}

.subcategory {
  position: center;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 2.5%;
  width: 95%;
}

.subcattweaks {
  position: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
  margin-top: 10px;
  align-items: top;
  text-align: center;
}

.tile {
  width: 100px;
  height: 100px;
  background-size: cover;
  overflow: hidden;
}

.tweak {
  background: var(--dark-one);
  padding: 10px;
  box-shadow: 0 0 10px rgba(49, 50, 51, 1);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  position: relative;
  border-style: solid;
  border-width: 4.375px;
  border-color: var(--dark-border);
  border-radius: 6.25px;
  transition: background 0.375s;
}

.tweak:hover {
  background: var(--dark-two);
  border-color: var(--dark-border-hover);
}

.tweak.selected {
  background: var(--green-one);
  border-color: var(--green-border);
}

.tweak.selected:hover {
  background: var(--green-two);
  border-color: var(--green-border-hover);
}

.desc-error {
  color: #f22;
}

.desc-info {
  color: cyan;
}

.desc-warn {
  color: orange;
}

.tweak-list-category {
  display: none;
  font-size: 1.2em;
  font-weight: bold;
}

.tweak-list-pack {
  display: none;
}

.tweak-title {
  font-weight: bold;
  font-size: 1.2em;
}

.tweak-info {
  margin-left: -5px;
  margin-right: -5px;
}

.tweak input[type="checkbox"] {
  font-family: "Pixelify Sans";
  display: none;
}

.tweaks {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(162.5px, 1fr));
  gap: 10px;
  margin: 10px;
  align-items: top;
  text-align: center;
}

:root {
  --dark-border: rgb(106, 108, 112) rgb(84, 86, 88) rgb(84, 86, 88)
    rgb(106, 108, 112);
  --dark-border-hover: rgb(122, 124, 129) rgb(97, 99, 101) rgb(97, 99, 101)
    rgb(122, 124, 129);
  --green-border: rgb(99, 157, 82) rgb(79, 145, 60) rgb(79, 145, 60)
    rgb(99, 157, 82);
  --green-border-hover: rgb(99, 157, 82) rgb(79, 145, 60) rgb(79, 145, 60)
    rgb(99, 157, 82);
  --dark-one: rgb(72, 73, 74);
  --dark-two: rgb(83, 84, 85);
  --green-one: rgb(60, 133, 39);
  --green-two: rgb(71, 144, 50);
  --rightmargin: 250px;
  --leftmargin: 10px;
}

#background-container {
  grid-template-columns: repeat(auto-fill, 100px);
  grid-template-rows: repeat(auto-fill, 100px);
  width: 100%;
  height: 100%;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  pointer-events: none;
  overflow: visible;
  display: flex;
  flex-wrap: nowrap;
}

#title {
  margin-top: 35px;
  max-width: 100%;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#selected-tweaks {
  display: none;
  text-align: center;
  border: 2px solid #111;
  border-radius: 5px;
  margin: auto;
  background: var(--dark-one);
  padding: 5px;
  width: 75%;
  overflow-y: auto;
  max-height: 400px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 768px) {
  .container {
    margin-right: var(--rightmargin);
    margin-left: var(--leftmargin);
  }

  .credits-footer {
    margin-right: var(--rightmargin);
    margin-left: var(--leftmargin);
  }

  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .image-container {
    margin-right: var(--rightmargin);
  }

  .download-container {
    position: fixed;
    right: -25px;
    top: 100px;
    left: auto;
    bottom: auto;
    width: 300px;
    background: rgb(0, 0, 0, 0);
    border: none;
  }

  .large-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
  }

  #selected-tweaks {
    display: block;
  }

  .tweak-list-category {
    display: block;
  }

  .tweak-list-pack {
    display: block;
  }
}

@media (max-width: 767px) {
  .large-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
  }
}

.small-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-link:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

.nav-link:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

.nav-link:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

.nav-link:active {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}
