@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

body {
    /* Because I can*/
    font-family: "Pixelify Sans";
    margin: 0;
    padding: 0;
    color: white;
}

header {
    color: white;
    padding: 10px 0;
    text-align: center;
}

.container {
    padding: 20px;
    position: relative;
    z-index: 1;
}

.category {
    margin-bottom: 20px;
}

.category-label {
	  text-align: center;
	  font-size: 20px;
    background-color: var(--dark-one); 
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    border: opaque;
 	  border-style: solid;
	  border-width: 5px;
  	border-color: var(--category-border);
	  transition: background-color 0.25s;
}

.category-label:hover {
	  background-color: rgb(83,84,85); 
}

.category-label:active {
	  background-color: var(--green-1);
}

.tweaks {
    display: none;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    margin-top: 10px;
    align-items: top;
    text-align: center;
}

.tweak {
    background: var(--dark-one);
    padding: 10px;
    box-shadow: 0 0 10px rgba(49, 50, 51, 1);
    cursor: pointer;
    display: flex;
    flex-direction: column;
	position: relative;
    border: 2px solid #111;
    border-radius: 5px;
	transition: background 0.375s;
}

.tweak.selected {
	background: var(--green-1);
    border: 2px solid #111;
}

.conf-hover-text {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
	  transform: translateX(-50%);
	  text-align: center;
    background: rgb(144, 73, 74);
    padding: 7.5px;
    border-radius: 3px;
    font-size: 13px;
    z-index: 1;
	  white-space: no-wrap;
}

.tweak:hover .conf-hover-text {
    display: block;
}

.comp-hover-text {
    display: none;
    position: absolute;
    bottom: 100%;
    left: 50%;
	  transform: translateX(-50%);
	  text-align: center;
    background: rgb(144, 146, 74);
    padding: 0px;
    border-radius: 3px;
    font-size: 13px;
    z-index: 1;
}

.tweak:hover .comp-hover-text {
    display: block;
}

.tweak-title {
    font-size: 1.2em;
}

.download-selected-button {
    background: var(--dark-one);
    padding: 10px 20px;
    border: 2px solid #111;
    border-radius: 5px;
		cursor: pointer;
    transition: background 0.3s;
    display: block;
    margin: 20px auto;
    text-align: center;
    color: white;
}

.download-selected-button:hover {
    background: var(--green-1);
}

.download-selected-button:active {
	background: rgb(53, 123, 29);
}

.footer {
    text-align: center;
    background: var(--dark-one);
    position: fixed;
    width: 100%;
    bottom: 0;
}

.tweak input[type="checkbox"] {
    display: none;
}

.credits-footer {
	border: solid;
	border-radius: 5px;
	border-color: var(--category-border);
	padding: 20px;
    background-image: url('images/blocks/deepslate.png');
    background-repeat: repeat;
    background-size: 100px 100px;
}

.file-download {
    margin: 20px 0;
    text-align: center;
}

.file-download input[type="text"],
.file-download button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
}

:root {
	--category-border: rgb(84,85,86) rgb(49,50,51) rgb(49,50,51) rgb(84,85,86);
	--dark-one: rgb(72,73,74);
	--green-1: rgb(63,146,39);
}
.image-container {
    text-align: center;
    position: relative;
    z-index: 1;
}

#randomTitle {
    max-width: 100%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#background-container {
    grid-template-columns: repeat(auto-fill, 100px);
    grid-template-rows: repeat(auto-fill, 100px);
    width: 100%;
    height: 100%;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    pointer-events: none;
    overflow: visible;
    display: flex;
    flex-wrap: nowrap;
}

.tile {
    width: 100px;
    height: 100px;
    background-size: cover;
    overflow: hidden;
}

a:link {
  color: cyan;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: hotpink;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}