@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");

:root {
  --dark-border-hover: rgb(122, 124, 129);
  --dark-border-ninety: rgba(106, 108, 112, 0.875);
  --dark-border: rgb(106, 108, 112);
  --dark-one-ninety: rgba(72, 73, 74, 0.875);
  --dark-one: rgb(72, 73, 74);
  --dark-two: rgb(83, 84, 85);
  --green-border-hover: rgb(99, 157, 82);
  --green-border: rgb(99, 157, 82);
  --green-one: rgb(60, 133, 39);
  --green-two: rgb(71, 144, 50);
  --red-one: rgb(133, 60, 39);
  --red-two: rgb(144, 71, 50);
  --leftmargin: 2.5%;
  --rightmargin: 325px;
}

a:active {
  background-color: transparent;
  color: white;
  font-weight: bold;
  text-decoration: underline;
}

a:hover {
  background-color: transparent;
  color: white;
  text-decoration: underline;
}

a:link {
  background-color: transparent;
  color: white;
  text-decoration: none;
}

a:visited {
  background-color: transparent;
  color: white;
  text-decoration: none;
}

body {
  color: white;
  font-family: "Pixelify Sans";
  margin: 0;
  padding: 0;
}

header {
  color: grey;
  padding: 10px 0;
  text-align: center;
}

li {
  float: left;
}

li a {
  color: white;
  display: block;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}

#background-container {
  background-size: cover;
  display: flex;
  flex-wrap: nowrap;
  grid-template-columns: repeat(auto-fill, 100px);
  grid-template-rows: repeat(auto-fill, 100px);
  height: 100%;
  left: 0;
  overflow: visible;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 0;
}

#selected-tweaks {
  background: var(--dark-one);
  border-radius: 5px;
  border: 2px solid #111;
  display: none;
  margin: auto;
  max-height: 400px;
  overflow-y: auto;
  padding: 5px;
  text-align: center;
  width: 75%;
}

#title {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: auto;
  margin-top: 35px;
  max-width: 100%;
}

.category {
  margin-bottom: 20px;
  margin-top: 20px;
}

.category-controlled {
  background-color: var(--dark-one);
  border-color: rgb(106, 108, 112);
  border-radius: 0px 0px 5px 5px;
  border-style: solid;
  border-width: 5px;
  display: none;
  max-height: 0;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
}

.category-label {
  background-color: var(--dark-one);
  border-color: var(--dark-border);
  border-radius: 5px;
  border-style: outset;
  border-style: solid;
  border-width: 5px;
  cursor: pointer;
  font-size: 20px;
  margin-bottom: -5px;
  padding: 5px;
  text-align: center;
  transition:
    background-color 0.25s ease,
    border-color 0.5s ease;
  user-select: none;
  z-index: 13;
}

.category-label.open {
  border-color: rgb(106, 108, 112);
  border-radius: 5px 5px 0px 0px;
}

.category-label.open:hover {
  border-radius: 5px 5px 0px 0px;
}

.category-label:hover {
  background-color: var(--dark-two);
  border-color: var(--dark-border-hover);
}

.comp-hover-text {
  background: rgb(144, 146, 74);
  border-radius: 3px;
  bottom: 100%;
  display: none;
  font-size: 13px;
  left: 50%;
  padding: 0px;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
  z-index: 1;
}

.conf-hover-text {
  background: rgb(144, 73, 74);
  border-radius: 3px;
  display: none;
  font-size: 13px;
  left: 50%;
  padding: 7.5px;
  position: absolute;
  text-align: center;
  top: 100%;
  transform: translateX(-50%);
  white-space: no-wrap;
  z-index: 1;
}

.container {
  background: #0000007f;
  border-radius: 10px;
  padding: 20px;
  position: relative;
  z-index: 0;
}

.credits-footer {
  background: var(--dark-one);
  border-color: var(--dark-border);
  border-radius: 12.5px;
  border-style: outset;
  border-width: 7.5px;
  color: white;
  padding: 20px;
  z-index: 5;
}

.desc-error {
  color: #f22;
}

.desc-info {
  color: cyan;
}

.desc-warn {
  color: orange;
}

.download-container {
  background: var(--dark-one);
  border: solid;
  border-color: var(--dark-border-ninety);
  border-radius: 10px;
  border-width: 5px;
  height: 150px;
  position: fixed;
  right: 25px;
  top: calc(100vh - 175px);
  width: 300px;
  z-index: 10;
}

.download-selected-button {
  background: var(--dark-one);
  border-color: var(--dark-border);
  border-radius: 5px;
  border-style: outset;
  border-width: 5px;
  color: white;
  cursor: pointer;
  display: block;
  font-family: "Pixelify Sans";
  margin: 10px auto;
  padding: 10px;
  text-align: center;
  transition: background 0.5s ease-in-out, border-image 0.5s linear;
  width: 80%;
}

.download-selected-button:hover {
  background: var(--green-two);
  border-color: var(--green-border-hover);
}

.download-selected-button.http {
  border-image: linear-gradient(90deg, var(--red-one), var(--dark-two)) round;
  border-radius: 5px;
  animation: rotateBorderHttp 3.75s linear infinite;
}

.download-selected-button.http:hover {
  background: var(--red-two);
}

.download-selected-button.http.s {
  border-image: linear-gradient(90deg, var(--green-one), var(--dark-one)) round;
  animation: rotateBorderHttps 3.75s linear infinite;
}

.download-selected-button.http.s:hover {
  background: var(--green-two);
}

.download-selected-button.error {
  background: var(--red-one);
  padding: 5px;
}

.download-selected-button.error:hover {
  border-color: var(--red-two);
}

.file-download {
  font-family: "Pixelify Sans";
  text-align: center;
}

.file-download button {
  font-family: "Pixelify Sans";
  font-size: 16px;
  margin: 5px;
  padding: 10px;
}

.file-download input[type="text"] {
  background: var(--dark-one);
  border-color: var(--dark-border);
  border-radius: 5px;
  border-style: outset;
  border-width: 4.375px;
  color: #eeeeee;
  margin-bottom: 5px;
  margin-top: 10px;
  padding-bottom: 10px;
  padding-left: 17.5px;
  padding-right: 17.5px;
  padding-top: 10px;
}

.file-download input[type="text"]::placeholder {
  color: #dddddd;
}

.file-download select {
  background: var(--dark-one);
  border-color: var(--dark-border);
  border-radius: 5px;
  border-style: outset;
  border-width: 4.375px;
  color: #eeeeee;
  font-family: "Pixelify Sans";
  padding-left: 17.5px;
  padding-right: 17.5px;
}

.footer {
  background: var(--dark-one);
  bottom: 0;
  padding: 20px;
  position: fixed;
  text-align: center;
  width: 100%;
}

.footer-container {
  position: relative;
  z-index: 1;
}

.half-dark {
  background: #0000007f;
  position: relative;
  z-index: 5;
}

.large-nav {
  background-color: #333;
  list-style-type: none;
  margin: 0;
  max-height: 45px;
  overflow: hidden;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}

.mev option {
  background: var(--dark-one);
  font-family: "Pixelify Sans";
}

.nav-link:active {
  background-color: transparent;
  color: white;
  text-decoration: underline;
}

.nav-link:hover {
  background-color: transparent;
  color: white;
  text-decoration: underline;
}

.nav-link:link {
  background-color: transparent;
  color: white;
  text-decoration: none;
}

.nav-link:visited {
  background-color: transparent;
  color: white;
  text-decoration: none;
}

.small-nav {
  background-color: #333;
  list-style-type: none;
  margin: 0;
  max-height: 45px;
  overflow: hidden;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}

.subcategory {
  margin-bottom: 15px;
  margin-left: 2.5%;
  margin-top: 15px;
  position: center;
  width: 95%;
}

.subcattweaks {
  align-items: top;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  margin-top: 10px;
  position: center;
  text-align: center;
}

.tile {
  background-size: cover;
  height: 100px;
  overflow: hidden;
  width: 100px;
}

.title-image {
  position: relative;
  size: cover;
  text-align: center;
  z-index: 1;
}

.tweak {
  background: var(--dark-one);
  border-color: var(--dark-border);
  border-radius: 6.25px;
  border-style: outset;
  border-width: 4.375px;
  box-shadow: 0 0 10px rgba(49, 50, 51, 1);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 10px;
  position: relative;
  transition: background 0.375s;
}

.tweak input[type="checkbox"] {
  display: none;
  font-family: "Pixelify Sans";
}

.tweak-info {
  margin-left: -5px;
  margin-right: -5px;
}

.tweak-list-category {
  display: none;
  font-size: 1.2em;
  font-weight: bold;
}

.tweak-list-pack {
  display: none;
}

.tweak-title {
  font-size: 1.2em;
  font-weight: bold;
}

.tweak.selected {
  background: var(--green-one);
  border-color: var(--green-border);
}

.tweak.selected:hover {
  background: var(--green-two);
  border-color: var(--green-border-hover);
}

.tweak:hover {
  background: var(--dark-two);
  border-color: var(--dark-border-hover);
}

.tweak:hover .comp-hover-text {
  display: block;
}

.tweak:hover .conf-hover-text {
  display: block;
}

.tweaks {
  align-items: top;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(142.5px, 1fr));
  margin: 10px;
  text-align: center;
}

.zipinputcontainer {
  bottom: 100%;
}

@keyframes rotateBorderHttps {
  0% {
    border-image: linear-gradient(90deg, var(--green-one), var(--dark-one)) 1;
  }
  25% {
    border-image: linear-gradient(180deg, var(--green-one), var(--dark-one)) 1;
  }
  50% {
    border-image: linear-gradient(270deg, var(--green-one), var(--dark-one)) 1;
  }
  75% {
    border-image: linear-gradient(360deg, var(--green-one), var(--dark-one)) 1;
  }
  100% {
    border-image: linear-gradient(90deg, var(--green-one), var(--dark-one)) 1;
  }
}

@keyframes rotateBorderHttp {
  0% {
    border-image: linear-gradient(90deg, var(--red-one), var(--dark-two)) 1;
  }
  25% {
    border-image: linear-gradient(180deg, var(--red-one), var(--dark-two)) 1;
  }
  50% {
    border-image: linear-gradient(270deg, var(--red-one), var(--dark-two)) 1;
  }
  75% {
    border-image: linear-gradient(360deg, var(--red-one), var(--dark-two)) 1;
  }
  100% {
    border-image: linear-gradient(90deg, var(--red-one), var(--dark-two)) 1;
  }
}

@media (max-width: 767px) {
  #zipInput {
    display: none;
  }

  .large-nav {
    display: block;
    transform: translateY(-100%);
  }

  .small-nav {
    display: block;
    transform: translateY(0%);
  }
}

@media (min-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #selected-tweaks {
    display: block;
    max-height: 400px;
  }

  #zipInput {
    color: white;
    cursor: pointer;
    display: block;
    font-family: "Pixelify Sans";
    height: 100%;
    padding: 5px;
    position: relative;
    width: 100%;
  }

  .container {
    margin-left: var(--leftmargin);
    margin-right: var(--rightmargin);
  }

  .credits-footer {
    margin-left: var(--leftmargin);
    margin-right: var(--rightmargin);
  }

  .download-container {
    background: #0000007f;
    border-color: #00000000;
    height: auto;
    padding-bottom: 10px;
    padding-top: 10px;
    position: fixed;
    right: 25px;
    top: 150px;
    width: 275px;
  }

  .file-download input[type="text"] {
    border-color: var(--dark-border);
  }

  .file-download select {
    border-color: var(--dark-border);
  }

  .large-nav {
    display: block;
    transform: translateY(0%);
  }

  .small-nav {
    display: block;
    transform: translateY(-100%);
  }

  .subcattweaks {
    grid-template-columns: repeat(auto-fit, minmax(162.5px, 1fr));
  }

  .title-image {
    left: 12.5px;
    margin-right: var(--rightmargin);
  }

  .tweak-list-category {
    display: block;
  }

  .tweak-list-pack {
    display: block;
  }

  .tweaks {
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  }

  .zipinputcontainer {
    align-items: center;
    background: var(--dark-one);
    border-color: var(--dark-border);
    border-radius: 5px;
    border-style: outset;
    border-width: 5px;
    bottom: 0;
    color: white;
    cursor: pointer;
    display: flex;
    height: 75%;
    justify-content: center;
    margin: 10px auto;
    position: relative;
    transition:
      background 0.25s ease-in,
      border-color 0.25s ease-in;
    width: 75%;
  }

  .zipinputcontainer::after {
    border-color: white;
    border-radius: 5px;
    border-style: dashed;
    border-width: 2px;
    bottom: 0;
    content: "";
    left: 0;
    margin: -1px;
    position: absolute;
    right: 0;
    top: 0;
    transition:
      border-color 0.25s ease-in,
      border-width 0.25s ease-in,
      margin 0.25s ease-in;
  }

  .zipinputcontainer:active {
    background: var(--green-two);
    border-color: var(--green-border-hover);
  }

  .zipinputcontainer:hover {
    background: var(--dark-two);
    border-color: var(--dark-border-hover);
  }

  .zipinputcontainer:hover::after {
    border-color: #0f0;
    border-width: 4px;
    margin: -5px;
  }
}

@media (prefers-reduced-motion: no-preference) {
  div {
    transition:
      margin-right 0.5s ease-in-out,
      margin-left 0.5s ease-in-out;
  }

  .category-controlled {
    transition: max-height 0.5s ease-in-out;
  }

  .download-container {
    transition:
      right 0.5s ease-in-out,
      top 0.5s ease-in-out,
      background 0.5s ease-in-out,
      border-color 0.5s ease-in-out,
      width 0.5s ease-in-out;
  }

  .large-nav {
    transition: transform 0.5s ease-in-out;
  }

  .small-nav {
    transition: transform 0.5s ease-in-out;
  }
}
