/* Custom Font */
@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");

/*************\
| OreUI HTML  |
\*************/

:root {
  --light-bg: rgb(208, 209, 212);
  --light-border: rgb(222, 223, 225) rgb(227, 227, 229) rgb(227, 227, 229)
    rgb(222, 223, 225);
  --light-bezel: rgb(98, 98, 100);

  --dark-bg: rgb(72, 73, 74);
  --dark-border: rgb(106, 108, 112) rgb(84, 86, 88) rgb(84, 86, 88)
    rgb(106, 108, 112);
  --dark-bezel: rgb(49, 50, 51);
  --outer-bezel-black: black;

  --green-bg: rgb(60, 133, 39);
  --green-border: rgb(99, 157, 82) rgb(79, 145, 60) rgb(79, 145, 60)
    rgb(99, 157, 82);
  --green-bezel: rgb(52, 84, 43);

  --light-disabled-bg: rgb(208, 209, 212);
  --light-disabled-border: rgb(208, 209, 212); /* weird */
  --light-disabled-bezel: rgb(177, 178, 181);
  --outer-bezel-light-disabled: rgb(140, 141, 144);

  --dark-disabled-bg: rgb(53, 54, 55);
  --dark-disabled-border: rgb(78, 80, 83) rgb(62, 64, 65) rgb(62, 64, 65)
    rgb(78, 80, 83);
  --dark-disabled-bezel: rgb(36, 37, 38);

  --pink-bg: rgb(255, 186, 231);
  --pink-border: rgb(255, 235, 248) rgb(245, 215, 235) rgb(245, 215, 235)
    rgb(255, 235, 248);
  --pink-bezel: rgb(117, 38, 89);
  --outer-bezel-pink: rgb(55, 18, 42);

  --red-bg: rgb(214, 71, 71);
  --red-border: rgb(224, 114, 114) rgb(173, 29, 29) rgb(173, 29, 29)
    rgb(224, 114, 114);
  --red-bezel: rgb(96, 24, 25);

  --purple-bg: rgb(115, 69, 229);
  --purple-border: rgb(162, 100, 242) rgb(142, 73, 235) rgb(142, 73, 235)
    rgb(162, 100, 242);
  --purple-bezel: rgb(74, 28, 172);

  --padding: 5px 15px;
  --bezel-size: 5px;
  --hover-overlay: rgba(0, 0, 0, 0.05);
}
[oreui-type="button"] {
  border-width: 5px;
  border-style: solid;
  border-radius: 0;
  cursor: pointer;
  padding: var(--padding);
  transform: translateY(-1px);
  text-align: center;
  /* Take care of the transitions */
  transition:
    border-color 0s,
    background-color 0s;
  /* Bezel */
  &::before {
    position: absolute;
    content: "";
    bottom: calc(-3px - var(--bezel-size));
    left: -5px;
    right: -5px;
    height: var(--bezel-size);
    transform: translateY(0);
    pointer-events: none;
  }
  /* Hover and active states */
  &:hover::before {
    height: 0;
  }
  &:active::before,
  &[oreui-state="active"]::before {
    height: 0;
  }
  /* Reset the transform when not active */
  &:not(:active):not(:hover):not([oreui-state="active"]) {
    transform: translateY(calc(-1px - var(--bezel-size)));
  }
  /* Override the default styles when disabled */
  &[disabled],
  &[disabled="true"],
  &:disabled {
    /* default dark */
    color: white;
    background-color: var(--dark-disabled-bg) !important;
    border-color: var(--dark-disabled-border) !important;
    cursor: not-allowed;
    &::before {
      background-color: var(--dark-disabled-bezel) !important;
    }
    &::after {
      border-color: var(--outer-bezel-black) !important;
    }
    &[oreui-disabled-color="light"] {
      color: black;
      background-color: var(--light-disabled-bg) !important;
      border-color: var(--light-disabled-border) !important;
      &::before {
        background-color: var(--light-disabled-bezel) !important;
      }
      &::after {
        border-color: var(--outer-bezel-light-disabled) !important;
      }
    }
  }
  /* The surrounding bezel 
     Outline could've been used but offset
     isn't flexible (the bottom offset needs
     to change, but it can't) */
  &::after {
    position: absolute;
    content: "";
    border-style: solid;
    border-width: 2.5px;
    bottom: calc(-5px - var(--bezel-size));
    left: -5px;
    right: -5px;
    top: -5px;
    pointer-events: none;
  }
  &:hover::after,
  &:active::after,
  &[oreui-state="active"]::after {
    bottom: -5px;
  }
  /* dim when hover */
  &:hover::after {
    background: var(--hover-overlay);
  }
  /* Colors */
  &[oreui-color="red"],
  &[oreui-active-color="red"]:active,
  &[oreui-active-color="red"][oreui-state="active"] {
    &::before {
      background-color: var(--red-bezel);
    }
    &::after {
      border-color: var(--outer-bezel-black);
    }
  }
  &[oreui-color="pink"],
  &[oreui-active-color="pink"]:active,
  &[oreui-active-color="pink"][oreui-state="active"] {
    &::before {
      background-color: var(--pink-bezel);
    }
    &::after {
      border-color: var(--outer-bezel-pink);
    }
  }
  &[oreui-color="purple"],
  &[oreui-active-color="purple"]:active,
  &[oreui-active-color="purple"][oreui-state="active"] {
    &::before {
      background-color: var(--purple-bezel);
    }
    &::after {
      border-color: var(--outer-bezel-black);
    }
  }
  &[oreui-color="green"],
  &[oreui-active-color="green"]:active,
  &[oreui-active-color="green"][oreui-state="active"] {
    &::before {
      background-color: var(--green-bezel);
    }
    &::after {
      border-color: var(--outer-bezel-black);
    }
  }
  &[oreui-color="light"],
  &[oreui-active-color="light"]:active,
  &[oreui-active-color="light"][oreui-state="active"] {
    &::before {
      background-color: var(--light-bezel);
    }
    &::after {
      border-color: var(--outer-bezel-black);
    }
  }
  &[oreui-color="dark"],
  &[oreui-active-color="dark"]:active,
  &[oreui-active-color="dark"][oreui-state="active"] {
    &::before {
      background-color: var(--dark-bezel);
    }
    &::after {
      border-color: var(--outer-bezel-black);
    }
  }
}

/* Default states */
[oreui-color="red"] {
  background-color: var(--red-bg);
  border-color: var(--red-border);
  color: white;
}
[oreui-color="pink"] {
  background-color: var(--pink-bg);
  border-color: var(--pink-border);
  color: black;
}
[oreui-color="purple"] {
  background-color: var(--purple-bg);
  border-color: var(--purple-border);
  color: white;
}
[oreui-color="green"] {
  background-color: var(--green-bg);
  border-color: var(--green-border);
  color: white;
}
[oreui-color="light"] {
  background-color: var(--light-bg);
  border-color: var(--light-border);
  color: black;
}
[oreui-color="dark"] {
  background-color: var(--dark-bg);
  border-color: var(--dark-border);
  color: white;
}

/* Active states */
[oreui-active-color="red"]:active,
[oreui-active-color="red"][oreui-state="active"] {
  background-color: var(--red-bg);
  border-color: var(--red-border);
  color: white;
}
[oreui-active-color="pink"]:active,
[oreui-active-color="pink"][oreui-state="active"] {
  background-color: var(--pink-bg);
  border-color: var(--pink-border);
  color: black;
}
[oreui-active-color="purple"]:active,
[oreui-active-color="purple"][oreui-state="active"] {
  background-color: var(--purple-bg);
  border-color: var(--purple-border);
  color: white;
}
[oreui-active-color="green"]:active,
[oreui-active-color="green"][oreui-state="active"] {
  background-color: var(--green-bg);
  border-color: var(--green-border);
  color: white;
}
[oreui-active-color="light"]:active,
[oreui-active-color="light"][oreui-state="active"] {
  background-color: var(--light-bg);
  border-color: var(--light-border);
  color: black;
}
[oreui-active-color="dark"]:active,
[oreui-active-color="dark"][oreui-state="active"] {
  background-color: var(--dark-bg);
  border-color: var(--dark-border);
  color: white;
}
[oreui-type="general"] {
  border-width: 5px;
  border-style: solid;
  border-radius: 0;
  padding: var(--padding);
  text-align: center;
  outline: 2.5px solid var(--outer-bezel-black);
  outline-offset: -2.5px;
}
[oreui-type="input"] {
  background: rgb(51, 51, 51);
  outline-style: solid;
  outline-color: rgb(27, 27, 27);
  outline-width: 2.5px;
  box-shadow: inset 0 5px 0 0 rgb(35, 35, 35);
  outline-offset: -2.5px;
  color: white;
  &:focus {
    outline-color: white;
    outline-offset: -0.5px;
  }
  &::placeholder {
    color: white;
  }
}

/***********\
| Searchbar |
\***********/

.search-container {
  margin: 0;
  text-align: center;
  position: relative;
  height: 37.5px;
}

.search-results {
  margin: 5px auto;
  padding: 13.75px 10px 0 10px;
  border-radius: 5px;
  position: absolute;
  left: 0;
  right: 0;
  top: 42.5px;
  z-index: 100;
  &[hasmatches="true"] {
    display: block;
  }
  &:not(:hover) {
    display: none;
  }
}

#searchBar {
  position: absolute;
  left: 0;
  right: 0;
  padding: 10px;
  font-size: 16px;
  &:focus + div[hasmatches="true"] {
    display: block;
  }
}

.search-result-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  div {
    text-align: left;
  }
  p {
    margin: 0;
    font-size: 14px;
  }
}

/**************\
| Custom Theme |
\**************/

:root {
  --dark-zero: rgb(61, 62, 63);
  --leftmargin: 2.5%;
  --rightmargin: 325px;
  --font: "Pixelify Sans", white;
}

a {
  &:active {
    background-color: transparent;
    color: white;
    font-weight: bold;
    text-decoration: underline;
  }

  &:hover {
    background-color: transparent;
    color: white;
    text-decoration: underline;
  }

  &:link {
    background-color: transparent;
    color: white;
    text-decoration: none;
  }

  &:visited {
    background-color: transparent;
    color: white;
    text-decoration: none;
  }
}
body {
  color: white;
  font-family: var(--font);
  margin: 0;
  padding: 0;
}

button {
  color: white;
  font-family: var(--font);
}

header {
  color: grey;
  padding: 10px 0;
  text-align: center;
}

input {
  color: white;
  font-family: var(--font);
}

li {
  float: left;
  a {
    color: white;
    display: block;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
  }
}
select {
  color: white;
  font-family: var(--font);
}
#background-container {
  background-size: cover;
  display: flex;
  flex-wrap: nowrap;
  grid-template-columns: repeat(auto-fill, 100px);
  grid-template-rows: repeat(auto-fill, 100px);
  height: 100%;
  image-rendering: pixelated;
  left: 0;
  overflow: visible;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 0;
}

#selected-tweaks {
  display: none;
  margin: auto;
  overflow-y: auto;
  padding: 5px;
  text-align: center;
  width: 75%;
}

#title {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: auto;
  margin-top: 35px;
  position: relative;
  size: cover;
  text-align: center;
  width: 100%;
  z-index: 1;
}

#zipInput {
  display: none;
}

.category {
  margin-bottom: 20px;
  margin-top: 20px;
}

.category-controlled {
  position: relative;
  display: none;
  max-height: 0;
  overflow: hidden;
  padding: 7.5px 10px !important;
  bottom: -2.5px;
}

.category-label {
  cursor: pointer;
  font-size: 20px;
  height: auto;
  margin-bottom: -5px;
  padding: 5px 40px;
  text-align: center;
  user-select: none;
  z-index: 13;
}

.category-label-selectall {
  background-color: #00000000;
  border-color: #00000000;
  border-radius: 2.5px;
  cursor: pointer;
  display: none;
  height: 30px;
  opacity: 0;
  position: absolute;
  right: 30px;
  transform: translateY(-108%);
  width: 30px;
  &.sub {
    transform: translate(-25%, -108%);
  }
  &:hover .category-label-selectall-hovertext {
    display: block;
  }
}

.category-label-selectall-hovertext {
  background-color: var(--dark-bg-hover);
  border-radius: 5px;
  display: none;
  font-size: 15px;
  transform: translate(-125%, -142%);
  width: max-content;
}

.category-label-selectall-img {
  height: 100%;
  image-rendering: pixelated;
  transform: translateX(-12.5%);
  width: auto;
}

.comp-hover-text {
  bottom: 100%;
  transform: translate(-50%, 100%) !important;
}

[class$="hover-text"] {
  position: absolute;
  border-radius: 3px;
  display: none;
  font-size: 13px;
  left: 50%;
  padding: 5px;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
  z-index: 100;
  font-size: inherit;
}

.conf-hover-text {
  bottom: 0%;
}

.container {
  background: #0000007f;
  border-radius: 5px;
  padding: 20px;
  position: relative;
  z-index: 0;
}

.credits-footer {
  border-radius: 5px;
  color: white;
  padding: 20px;
  z-index: 5;
  text-align: left;
}

[class^="desc"] {
  margin-top: 0;
  margin-bottom: 0;
}

.desc-error {
  color: red;
}

.desc-info {
  color: cyan;
}

.desc-warn {
  color: orange;
}

.download-container {
  background: var(--dark-bg);
  border-color: var(--dark-border);
  border-radius: 10px;
  border-style: solid;
  border-width: 5px;
  height: auto;
  position: fixed;
  right: 25px;
  top: calc(100vh - 175px);
  width: 300px;
  z-index: 10;
}

.download-selected-button {
  font-size: 0.96em;
  cursor: pointer;
  display: block;
  font-family: var(--font);
  margin: 10px auto;
  padding: 10px;
  text-align: center;
  width: 83%;
  &[oreui-active-color="red"] {
    font-size: 0.875em;
    padding: 5px;
  }
}

.file-download {
  font-family: var(--font);
  text-align: center;
  button {
    font-family: var(--font);
    font-size: 16px;
    margin: 5px;
    padding: 10px;
  }
  input[type="text"] {
    margin-bottom: 5px;
    margin-top: 10px;
    padding: 10px 17.5px;
    width: 193px;
    &::placeholder {
      color: #dddddd;
    }
  }
  select {
    font-family: var(--font);
    padding-left: 17.5px;
    padding-right: 17.5px;
  }
}

.footer {
  background: var(--dark-bg);
  bottom: 0;
  padding: 20px;
  position: fixed;
  text-align: center;
  width: 100%;
}

.footer-container {
  position: relative;
  z-index: 1;
}

.half-dark {
  background: #0000007f;
  position: fixed;
  z-index: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.mev option {
  background: var(--dark-bg);
  font-family: var(--font);
}

.nav-link:active {
  background-color: transparent;
  color: white;
  text-decoration: underline;
}

.nav-link:hover {
  background-color: transparent;
  color: white;
  text-decoration: underline;
}

.nav-link:link {
  background-color: transparent;
  color: white;
  text-decoration: none;
}

.nav-link:visited {
  background-color: transparent;
  color: white;
  text-decoration: none;
}

.preselected {
  position: fixed;
  z-index: 1000;
  text-align: center;
  padding: 5px 10px;
  left: 50%;
  top: -20vh;
  transform: translateX(-50%);
  transition:
    height 0.25s ease,
    top 0.625s ease-in-out,
    transform 0.625s ease-in-out;
}

.preselected-unselect {
  cursor: pointer;
  color: white;
  text-decoration: underline;
  transition: font-size 0.25s ease;
  &:hover {
    text-decoration: bold;
    font-size: 1.05em;
  }
}
[class$="nav"] {
  background-color: #333;
  list-style-type: none;
  margin: 0;
  max-height: 45px;
  overflow: hidden;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}

.subcategory {
  margin-bottom: 15px;
  margin-left: 2.5%;
  margin-top: 15px;
  width: 95%;
}

.subcattweaks {
  align-items: top;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  margin-top: 10px;
  text-align: center;
}

.tile {
  background-size: cover;
  height: 100px;
  overflow: hidden;
  width: 100px;
}

.tweak {
  box-shadow: 0 0 10px rgba(49, 50, 51, 1);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 10px 15px !important;
  position: relative;
  input[type="checkbox"] {
    display: none;
    font-family: var(--font);
  }
  &:hover[oreui-state="active"] [class$="hover-text"] {
    display: block;
  }
}

.tweak-description {
  font-size: 0.99em;
}

.tweak-info {
  margin-left: -5px;
  margin-right: -5px;
}

.tweak-list-category {
  display: none;
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 5px;
}

.tweak-list-pack {
  display: none;
}

.tweak-title {
  font-size: 1.2em;
}

.tweaks {
  align-items: top;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(137.5px, 1fr));
  margin: 10px;
  text-align: center;
}

.zipinputcontainer {
  display: none;
}

@media (max-width: 767px) {
  .large-nav {
    display: block;
    transform: translateY(-100%);
  }

  .small-nav {
    display: block;
    transform: translateY(0%);
  }
}

@media (max-height: 262px) and (min-width: 768px) {
  #selected-tweaks {
    display: none;
  }
}

@media (min-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #selected-tweaks {
    display: block;
    max-height: 40vh;
  }

  #title {
    left: var(--leftmargin);
    right: var(--rightmargin);
    width: calc(100% - var(--leftmargin) - var(--rightmargin));
  }

  .container {
    margin-left: var(--leftmargin);
    margin-right: var(--rightmargin);
  }

  .credits-footer {
    margin-left: var(--leftmargin);
    margin-right: var(--rightmargin);
  }

  .download-container {
    background: #0000007f;
    border-color: #00000000;
    height: auto;
    padding: 10px 0px;
    position: fixed;
    right: 25px;
    top: 12.5%;
    width: 275px;
  }

  .large-nav {
    display: block;
    transform: translateY(0%);
  }

  .small-nav {
    display: block;
    transform: translateY(-100%);
  }

  .subcattweaks {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  .tweak-list-category {
    display: block;
  }

  .tweak-list-pack {
    display: block;
  }

  .tweaks {
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  }

  .zipinputcontainer {
    align-items: center;
    bottom: 0;
    cursor: pointer;
    display: flex;
    height: auto;
    justify-content: center;
    position: relative;
    margin: 10px 0;
    width: 189px;
    left: 23px;
    --bezel-size: 2px;
    & .selectedFile {
      font-size: 0.9em;
      font-weight: bold;
    }
  }
}

@media (prefers-reduced-motion: no-preference) {
  div {
    transition:
      margin-right 0.5s ease-in-out,
      margin-left 0.5s ease-in-out;
  }

  #selected-tweaks {
    transition:
      height 0.5s ease-in-out,
      max-height 0.5s ease-in-out;
  }

  #title {
    transition:
      left 0.5s ease-in-out,
      right 0.5s ease-in-out,
      width 0.5s ease-in-out;
  }

  .category-controlled {
    transition: max-height 0.5s ease-in-out;
  }

  .download-container {
    transition:
      right 0.5s ease-in-out,
      top 0.5s ease-in-out,
      width 0.5s ease-in-out;
  }

  [class^="nav"] {
    transition: transform 0.5s ease-in-out;
  }
  .category-label-selectall {
    transition: opacity 0.5s ease-in-out;
  }
}
