.search-container {
  margin: 0;
  text-align: center;
  position: relative;
  height: 37.5px;
}

.search-results {
  margin: 5px auto;
  padding: 13.75px 10px 0 10px;
  border-radius: 5px;
  position: absolute;
  left: 0;
  right: 0;
  top: 42.5px;
  z-index: 100;
  &[hasmatches="true"] {
    display: block;
  }
  &:not(:hover) {
    display: none;
  }
}

#searchBar {
  position: absolute;
  left: 0;
  right: 0;
  padding: 10px;
  font-size: 16px;
  &:focus + div[hasmatches="true"] {
    display: block;
  }
}

.search-result-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  div {
    text-align: left;
  }
  p {
    margin: 0;
    font-size: 14px;
  }
}
